<div *ngIf="!isLoggedIn" class="login-container">
  <form (ngSubmit)="login()" [formGroup]="form">
    <input type="email" formControlName="email" placeholder="Email" />
    <input type="password" formControlName="password" placeholder="Password" />
    <button type="submit" class="signin-button">Sign In</button>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>

<div *ngIf="isLoggedIn" class="dashboard-container">
  <app-sidebar class="sidebar"></app-sidebar>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>