<div class="invoice-container">
    <h2>Invoice #{{ invoice?.invoiceID || 'New' }} for {{ invoice?.serviceType}}</h2>
  
    <p>Duration: {{ invoice?.duration }}</p>
    <p>Unit Price: {{ invoice?.unitPrice }} $ CAD </p>
    <p>Base Amount: {{ invoice?.baseAmount | number: '1.2-2' }} $ CAD </p>
  
    <p>Status:
        <select [(ngModel)]="invoice.status">
            <option *ngFor="let s of statuses" [value]="s">{{s}}</option>
        </select>
    </p>
    <p>Description:</p>
    <textarea [(ngModel)]="invoice.description"></textarea>

    <h3>Extras</h3>
    <div *ngFor="let extra of invoice?.extras; let i = index">
      {{ extra.label }} - {{ extra.price }} $ CAD 
      <button (click)="removeExtra(i)">Remove</button>
    </div>
  
    <div class="extra-form">
      <input [(ngModel)]="newExtra.label" placeholder="Label" />
      <input type="number" [(ngModel)]="newExtra.price" placeholder="Price" />
      <button (click)="addExtra()">Add Extra</button>
    </div>
  
    <h3>Total: {{ totalAmount | number: '1.2-2' }} $ CAD </h3>
  
    <button class="submit-btn"(click)="submitInvoice()" [disabled]="isSending" class="submit-btn">
        <span *ngIf="!isSending">Send Invoice to Client</span>
        <span *ngIf="isSending">
          <div class="spinner"></div> Sending...
        </span>
      </button>
  </div>
