<nav class="cyber-sidebar">
  <div class="brand-glow">
    
  </div>
  
  <ul class="nav-grid">
    <li class="nav-item" 
        [class.active]="isActive('/helper-dashboard/work-board')"
        (click)="router.navigate(['/helper-dashboard/work-board'])">
      <div class="nav-glitch"></div>
      <i class="nav-icon material-icons"></i>
      <span class="nav-label">Work Board</span>
    </li>
    <li class="nav-item" 
        [class.active]="isActive('/helper-dashboard/my-work')"
        (click)="router.navigate(['/helper-dashboard/my-work'])">
      <div class="nav-glitch"></div>
      <i class="nav-icon material-icons"></i>
      <span class="nav-label">My Worl</span>
    </li>
    <!--<li class="nav-item" 
        [class.active]="isActive('/helper-dashboard/profile')"
        (click)="router.navigate(['/helper-dashboard/profile'])">
      <div class="nav-glitch"></div>
      <i class="nav-icon material-icons">person</i>
      <span class="nav-label">Profil</span>
    </li>-->

    <li class="nav-item" 
        [class.active]="isActive('/helper-dashboard/agenda')"
        (click)="router.navigate(['/helper-dashboard/agenda'])">
      <div class="nav-glitch"></div>
      <i class="nav-icon material-icons"></i>
      <span class="nav-label">Work Schedule</span>
    </li>
  </ul>

  <div class="status-box">
    <div class="user-holo">
      <div class="avatar-pulse"></div>
      <span class="user-role">{{ userRole }}</span>
    </div>
  </div>
</nav>