<div class="signin-container">
  <div class="info-section">
    <h1>Welcome to Swift Helpers</h1>
    <div class="auth-links">
      <span>Sign In</span> |
      <a (click)="redirectSignup()" class="signup-link">Sign Up</a>
    </div>
    <p class="welcome-text">
      with our subscription and pay-per-use model, your service payment goes directly to the contractor,
      including contributions that support their income security. Swift Helpers is a commission-free,
      reliable, and affordable solution for clients.
    </p>
    <input type="text" [(ngModel)]="promotionCode" placeholder="Enter Promotion CODE here" />
    <h3>Choose a Pricing Plan</h3>
    <div class="membership-options">
      <label *ngFor="let m of memberships">
        <input type="radio" name="membership" [value]="m.membershipType" [(ngModel)]="selectedMembership" />
        {{ m.membershipType }} - ${{ m.cost }}
      </label>
    </div>
  <!--
    <div class="info-details">
      <h2>Don’t have an account?</h2>
      <p>
        Sign up now and enjoy <strong>6 months</strong> of free membership with no credit card required.
      </p>
      <p>
        Get <strong>unlimited access</strong> to explore and test the service quality of our helpers.
      </p>
      <p>
        At Swift Helpers, we don’t markup the services provided. Instead, we operate on a small membership fee
        to keep things fair, transparent, and affordable for everyone.
      </p>
    </div>
  </div>
-->
  <form (ngSubmit)="login()" [formGroup]="form">
    <input type="email" formControlName="email" placeholder="Email" />
    <input type="password" formControlName="password" placeholder="Password" />
    <button type="submit" class="signin-button">Sign In</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
<div class="forgot-link">
  <a routerLink="/forgot-password">Forgot your password?</a>
</div>
    <div class="switch-auth">
      Don't have an account? <a (click)="redirectSignup()">Create an account</a>
    </div>
  </form>
</div>
