<div class="signin-container">
  <div class="info-section">
    <h1>Welcome to Swift Helpers</h1>
    <p>Log in to manage your work orders and connect with helpers.</p>
<!--
    <div class="info-details">
      <h2>Don’t have an account?</h2>
      <p>
        Sign up now and enjoy <strong>6 months</strong> of free membership with no credit card required.
      </p>
      <p>
        Get <strong>unlimited access</strong> to explore and test the service quality of our helpers.
      </p>
      <p>
        At Swift Helpers, we don’t markup the services provided. Instead, we operate on a small membership fee
        to keep things fair, transparent, and affordable for everyone.
      </p>
    </div>
  </div>
-->
  <form (ngSubmit)="login()" [formGroup]="form">
    <input type="email" formControlName="email" placeholder="Email" />
    <input type="password" formControlName="password" placeholder="Password" />
    <button type="submit" class="signin-button">Sign In</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="switch-auth">
      Don't have an account? <a routerLink="/signup">Create an account</a>
    </div>
  </form>
</div>
