* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background: #f4f4f4;
    color: #333;
  }
  
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
head{font-family: 'Open Sans', sans-serif;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
