<div class="confirmation-container">
  <div class="confirmation-card">
    <h1 class="confirmation-success">Your Onboarding Is Complete and Pending Activation</h1>
    <p>
       <strong>Thank you for completing your onboarding.</strong>.
    </p>
    <p>
You are now part of a trusted network of self-employed professionals delivering flexible, commission-free services in the property sector.

Your profile will be activated shortly. Once active, you will gain access to:
    </p>

    <blockquote>
      <em>
        ·        The Swift Helpers job board

·        Your personal work dashboard

·        Tools to manage jobs, track earnings, and grow your reputation<br />
        <span class="highlighted-quote">We look forward to supporting your journey as a Dependent Contractor with Swift Helpers.</span>”
      </em>
    </blockquote>

    <a routerLink="/" class="home-button">Return to Home</a>
  </div>
</div>
