<nav class="navbar" (document:click)="handleGlobalClick($event)">
  <div class="logo" (click)="redirectByRole()" style="cursor: pointer;">
    <img src="/logo.png" alt="Swift Helpers Logo" class="logo-img">
  </div>

  <ul class="nav-links">
    <li><a (click)="redirectByRole()">Home</a></li>
       <li *ngIf="currentUser?.role !== '3rd Party' || currentUser?.role !== 'Super Admin'">
    <a routerLink="/services">Services</a>
  </li>

    <ng-container *ngIf="!isClientLoggedIn">
      <li><a routerLink="/signin">Clients</a></li>
      <li><a routerLink="/helper-signin">Helpers</a></li>
    </ng-container>

    <ng-container *ngIf="isClientLoggedIn">
      <li>
        <button (click)="onLogout()" class="logout-button">Logout</button>
      </li>

      <li class="messages-wrapper" #messageWrapper (click)="toggleMessagesPopup($event)">
        <img src="/icons/message.png" class="message-icon" alt="Messages" />
        <div *ngIf="showMessagesPopup" class="messages-popup">
          <div *ngIf="conversations.length === 0">No messages</div>
          <ul *ngIf="conversations.length > 0">
            <li *ngFor="let conv of conversations" (click)="openChat(conv.id, conv.helper, conv.order)">
              Conversation with {{ getOtherUserName(conv) }}
            </li>
          </ul>
        </div>
      </li>

      <li class="notification-wrapper" #notificationWrapper (click)="toggleNotificationPopup($event)">
        <img src="/icons/notification.png" alt="Notifications" class="notification-icon">
        <span *ngIf="unreadCount > 0" class="notification-badge">{{ unreadCount }}</span>

        <div class="notification-popup" *ngIf="showPopup">
          <div *ngIf="notifications.length === 0" class="empty-msg">No notifications</div>
          <ul *ngIf="notifications.length > 0">
            <li *ngFor="let notif of notifications" (click)="handleNotificationClick(notif)">
              <p>{{ notif.message }}</p>
              <span>{{ notif.created_at | date:'short' }}</span>
            </li>
          </ul>
        </div>
      </li>

      <li class="profile-wrapper">
        <a routerLink="/userprofile">
          <img src="/icons/utilisateur.png" class="profile-icon" alt="Profile" />
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
